<section>
  <h3>Net Worth {{total |currency:'C$'}}</h3>
  <p>Here are the assets that make up the net worth</p>

  <aside>
    <h4>Current Stock Codes: <span *ngFor='let item of codes'>{{item.code}}  </span></h4>

  </aside>
  <!-- [] injects values into a component (one-way binding into component) -->
  <app-asset-view
    *ngFor="let item of codes; let i=index"
    [code]='item.code'
    [price]='item.price'
    [index]='i'
    (sortie)='handleSortie($event)'
    (codeChangeEvent)='handleCodeChangeEvent($event)'>
    <!-- $event is for custom events -->
    <!-- (sellEvent)='handleSellEvent($event)'> -->
  </app-asset-view>

  <!-- <pre></pre> -->

</section>
