<!-- here we write our own component template -->
<article>
  <nav>
    <!-- links go here -->
    <a routerLink='/cash-flow'>Cash Flow</a> |
    <a routerLink='/market-movers'>Market Movers</a> |
    <a routerLink='/net-worth'>Net Worth</a> |
    <a routerLink='/insights'>Insights</a> |
    <a routerLink='/swapi'>Swapi</a>

  </nav>
  <h2>Routed App Demo</h2>
  <!-- here we can bind to the daa models -->
  <!-- the | is 'pipe' in this case for date -->
  <p>today is {{today | date:'hh:mm:ss'}}</p>
  <!-- the {{}} are called interpolation binding -->
  <p>Welcome {{user}}</p>
  <p>one plus two is {{1+2}}</p>
  <!-- ask the user to agree to cookies -->
  <!-- the () are one-way event binding OUT of the component -->
  <!-- structural directives AWLAYS start with an asterisk * -->
  <ng-container *ngIf='askCookieConsent'>
    <p>This site uses cookies, is that ok?</p>
    <button  (click)='agreeCookie()' >Agree</button>
  </ng-container>
  <hr/>
  <!-- the <form> tag becomes and NgForm because of the FormsModule -->
  <form>
    <!-- here is two-way binding using [()] -->
    <input placeholder='Facebook image' required [(ngModel)]='fbImage' name='fbImage'/>
    <br/>
    <img src='https://graph.facebook.com/{{fbImage}}/picture?type=normal'>
  </form>

  <!-- or... -->
  <!-- Turns out we don't even need a <form> tag! -->
    <!-- <input placeholder='Facebook image' required [(ngModel)]='fbImage' />
    <br/>
    <img src='https://graph.facebook.com/{{fbImage}}/picture?type=normal'> -->

  <hr/>
  <!-- here is where routed content will appear it is mutually exclusive content-->
  <router-outlet></router-outlet>
</article>
