<section>
  <!-- in Angular all forms are ngForm due to FormsModule -->
 <form>
   Select a Category
   <select [(ngModel)]='paramObj.category' name='category'>
     <option value='people'>People</option>
     <option value='planets'>Planets</option>
     <option value='starships'>Starships</option>
     <option value='species'>Species</option>
   </select><br/>
   Select an ID (1-6)
   <input type='range' min="1" max="6" [(ngModel)]='paramObj.id' name='id' /> {{paramObj.id}}
 </form>
 <button (click)='makeServiceCall()'>Go</button>
 <!-- <pre>{{reportData |json}}</pre> -->
 <!-- ternary operator logic expression ? value if true: value if false -->
 <p>{{swapiData.name ? swapiData.name:swapiData.id}}</p>
</section>

